header {
    background-color: #c4c4c4;
    display: flex;
    Justify-content: center;
}

section {
    margin-top: 10%;
    text-align: center;
    background-image: url(img/image.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 8%;
}

#banderole {
    width: 90%;
}

article {
    margin: auto;
    columns: 3;
    column-gap: 5%;
    column-rule: solid 1px;
}