html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(img/fond2.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
header {
    background-color: #52514c;
    padding:20px 0px;  
    width: 100%;
}
#head>img{
    position: absolute;
    margin-left: 3%;
}
#head>h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}

nav{
    text-align: center;
    position:static;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    padding: 0.5%;
    margin: auto;
}

nav>a{
    margin: 5%;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}
nav a:hover{
    color:  gold;
    border-bottom: 2px solid gold;

}
section {
    text-align: center;
    background-image: url(img/imgbanderole4.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5%;
    box-shadow: 1px 5px 12px rgb(8, 8, 8)inset;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-shadow: 2px 2px 10px gold;
}

#banderole {
    width: 90%;
}

article {
    margin-top: 2%;
    margin-bottom: 2%;
    
    columns: 3;
    column-gap: 5%;
    column-rule: solid 1px;
    box-shadow: 1px 5px 12px rgb(8, 8, 8)inset;
    padding: 1%;

}
footer{
    padding:10px 0px;   
    border: 3px ridge #000000;
    
}
footer>img{
    
    margin-left: 3%;
}
footer>p{
   display: inline;
   font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;

}
h3{
    text-align: center;
}
#entreprise{
    box-shadow: 1px 5px 12px rgb(8, 8, 8)inset;

    padding:1%;
    margin:2%;
}
table{
    border-collapse: collapse;
  border: 3px solid rgb(90, 178, 236);


}
th{
    border: thin solid #6495ed;
}
td{
    border: thin solid #6495ed;
    padding-right:1%;
    padding-left:1%;
}
#pestel{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: 1px 1px 12px rgb(8, 8, 8);
}